source/Node-RED Flows/flows.json
[
    {
        "id": "c14b2c2394cd7539",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22a231b34043d580",
        "type": "inject",
        "z": "c14b2c2394cd7539",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test topic",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "fb65508e0ba15b92"
            ]
        ]
    },
    {
        "id": "fb65508e0ba15b92",
        "type": "debug",
        "z": "c14b2c2394cd7539",
        "name": "Debug timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "1bf8948a0b864316",
        "type": "mqtt in",
        "z": "c14b2c2394cd7539",
        "name": "",
        "topic": "bressam/nodered/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb0cc5b49b11609f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "ba17814acf187c65",
                "b566eb2608547fa9",
                "fd1fc03edc02dd2d"
            ]
        ]
    },
    {
        "id": "ba17814acf187c65",
        "type": "debug",
        "z": "c14b2c2394cd7539",
        "name": "MQTT Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "b566eb2608547fa9",
        "type": "ui_gauge",
        "z": "c14b2c2394cd7539",
        "name": "",
        "group": "97c1eb79cec3d29b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "110",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd1fc03edc02dd2d",
        "type": "ui_chart",
        "z": "c14b2c2394cd7539",
        "name": "",
        "group": "97c1eb79cec3d29b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c3afcf390009b6b4",
        "type": "ui_switch",
        "z": "c14b2c2394cd7539",
        "name": "",
        "label": "LED control",
        "tooltip": "",
        "group": "97c1eb79cec3d29b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "adfee6de77120412"
            ]
        ]
    },
    {
        "id": "adfee6de77120412",
        "type": "change",
        "z": "c14b2c2394cd7539",
        "name": "Bool to String",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "e9c479154fa0a44a",
                "4ef42f38635657a7"
            ]
        ]
    },
    {
        "id": "e9c479154fa0a44a",
        "type": "debug",
        "z": "c14b2c2394cd7539",
        "name": "Switch integer output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "4ef42f38635657a7",
        "type": "mqtt out",
        "z": "c14b2c2394cd7539",
        "name": "bressam/esp32client",
        "topic": "bressam/esp32client",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cb0cc5b49b11609f",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "0b3124251aeb1788",
        "type": "ui_slider",
        "z": "c14b2c2394cd7539",
        "name": "",
        "label": "Servo angle",
        "tooltip": "",
        "group": "97c1eb79cec3d29b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "18e6a6484ba72e5f",
                "4ef42f38635657a7"
            ]
        ]
    },
    {
        "id": "18e6a6484ba72e5f",
        "type": "debug",
        "z": "c14b2c2394cd7539",
        "name": "Servo slider output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "cb0cc5b49b11609f",
        "type": "mqtt-broker",
        "name": "HiveMQ MQTT Broker",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "client-id-bressam-FlowUse-YfdodFe",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "97c1eb79cec3d29b",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "62bec930eb422899",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62bec930eb422899",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]